<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title><%=title%></title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <header class="navbar navbar-bright" role="banner">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Home</a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <% for(let i= 0; i< nav.length; i++){%>
                    <li>
                        <a href=<%=nav[i].link%>><%=nav[i].title%></a>
                    </li>
                    <%}%>
                 </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="author-introduction">
            <div class="container">
                <h1>The Authors Present in the website are shown below</h1>
                <div class="panel-body">
                    <% for(let i= 0; i< books.length; i++){%>
                        <div class="row">
                            <div class="col-xs-9">
                                <h4>
                                    <span><%=books[i].author%></span>
                                </h4>
                            </div>
                        </div>
                    <%}%>
                </div>
            </div>
        </section>
        <section class="footer-section">
            <div class="container" id="footer">
                <div class="row">
                    <div class="col col-sm-12">
                        <h1>Follow Me</h1>
                        <div class="btn-group">
                            <a href="#"><i class="icon-twitter icon-large"></i></a>
                            <a href="#"><i class="icon-facebook icon-large"></i></a>
                            <a href="#"><i class="icon-google-plus icon-large"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>