html
    head
        title My App
    body(class=["myClass"])
        h1(id="myId" )= heading
        p say hello to pug
            h3 Sub Header
        ul 
            each val in list
                li= val