<html>
    <head>
    </head>
    <body>
        <h1>
            welcome to <%=heading%>
        </h1>
        <p>Say hello to EJS</p>
        <ul>
            <%for(var i = 0;i<list.length;i++){%>
                <li><%=list[i]%></li>
            <%}%>
        </ul>
    </body>
</html>